@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,400&display=swap');

:root{
    --text-family:'Raleway', sans-serif;
    --text-color:#464646;
}

body{
    background-color: #F5F5F5;
}