.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34.5px;
    margin-left: 5rem;
    margin-right: 5rem;   
}

.nav__links{
    list-style: none;
}

.nav__link{
    margin-left: 2rem;
    color: var(--text-color);
    font-size: 16px;
    text-decoration: none;
}

/* Responsive */

@media only screen and (max-width: 600px) {
    .header .container{
        margin: 2rem;
    }

    .nav__link:nth-child(1){
        display: none;
    }
    .nav__link:nth-child(2){
        display: none;
    }
    .nav__link:nth-child(3){
        display: none;
    }
    .nav__link:nth-child(4){
        display: none;
    }
    .nav__link:nth-child(5){
        display: none;
    }
  }