.banner__section .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
    margin-left: 13rem;
    margin-right: 13rem;  
}

.banner__title{
    font-size: 70px;
    font-family: var(--text-family);
    color: var(--text-color); 
    font-weight: 900;
}

.banner__text--information{
    font-size:30px;
    padding: 24px 0;
    font-family: var(--text-family);
    color: var(--text-color);
}

.banner__social-links{
    list-style: none;
}
.banner__social-links > li > a{
    margin-right: 2rem;
    font-size: 30px;
    text-decoration: none;
    color: var(--text-color);
}