.form__section{
    background-color: var(--background-color);
    padding: 5rem;
}

.form__section .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__contact{
    margin-left: 2rem;
}
.form__contact form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.form__contact  input{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.form__contact input, textarea{
    border: none;
}

.form__contact input{
    height: 2rem;
}

.form__title{
    font-family: var(--text-family);
    color: var(--text-color);
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.form__input{
    border-color: red;
}

.form__submit--button{
    padding: 10px;
    background-color:#2A7AE4;
    color: white;
    border: 0;
}

@media only screen and (max-width: 600px) {
        .form__section .container{
            flex-direction: column-reverse;
        }

        .img__form{
            margin-top: 2rem;
        }
    }