.skills__section .container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;   
}

.skills__title{
    font-family: var(--text-family);
    color: var(--text-color);
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card{
    width: 176px;
    height: 174px;
    background-color: var(--backgroundCard-color);
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-end;
}

@media only screen and (max-width: 600px) {
    .skills__section .container{
        margin: 1rem;
        justify-content: center;
        align-items: center;
    }
  }