.formation__section{
    background-color: var(--background-color);
    padding: 80px;
}
.formation__section .container{
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;   
}

.formation__institute .container{
    display: flex;
    justify-content: space-between;
}

.formation__info{
   margin: auto;
}

.formation__card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 368px;
    height: 286px;
    background-color: var(--backgroundCard-color);
    margin: 30px;
}

.formation__title{
    font-family: var(--text-family);
    color: var(--text-color);
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 2rem;
}